/*----------  General Styles   ----------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans HK", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  -webkit-padding-start: 0;
  list-style: none;
}

/*----------  HAMBURGER BUTTON ----------*/
.hamburger {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 800px) {
  .hamburger {
    display: none;
  }
}

.hamburger__line {
  display: block;
  width: 35px;
  height: 5px;
  margin: 5px auto;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger--active {
  position: absolute;
  top: 18px;
  right: 15px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger--active .hamburger__line {
  width: 25px;
}

.hamburger--active .hamburger__line:nth-child(2) {
  opacity: 0;
}

.hamburger--active .hamburger__line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  transform: translateY(13px);
}

.hamburger--active .hamburger__line:nth-child(3) {
  -webkit-transform: translateY(-7px) rotate(90deg);
  -ms-transform: translateY(-7px) rotate(90deg);
  transform: translateY(-7px) rotate(90deg);
}

.hamburger--active::before {
  border: 5px solid rgba(0, 0, 0, 0.5);
}

.hamburger::before {
  position: absolute;
  top: -2px;
  left: -11px;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------  GO TOP BUTTON ----------*/
.top {
  position: fixed;
  right: 22px;
  bottom: 40px;
  padding: 5px 14px 5px 14px;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #f9fffb;
  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  .top {
    right: 11px;
  }
}

.top:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}

.top:active {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

/*=============================================
=                NAVIGATION                 =
=============================================*/
.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 50px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 51;
}

@media (max-width: 1440px) {
  .nav {
    width: 98%;
  }
}

@media (max-width: 1200px) {
  .nav {
    width: 95%;
  }
}

.nav__bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 0;
  background-color: #f9fffb;
  border-bottom: 1.3px solid #dddddd;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.07);
  z-index: 3;
}

.nav__bar--open {
  height: 250px;
}

.nav__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.tel {
  display: block;
  margin-left: auto;
}

@media (max-width: 800px) {
  .tel-wrapper {
    display: block;
    margin-right: auto;
  }
  .tel {
    margin-left: 0;
  }
}

.nav__info--show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.nav__info--show .nav__bar {
  position: absolute;
}

.nav__info--show .nav__info-item {
  display: block;
  position: relative;
  top: 95px;
  text-align: center;
  font-size: 23px;
  margin-left: 0;
  padding: 5px 0;
}

.nav__info--show .tel {
  margin-left: 0;
}

.nav__info-item {
  display: inline-block;
  position: relative;
  padding-bottom: 8px;
  margin-left: 28px;
  margin-top: 6px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.87);
  opacity: 0.8;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.15em;
}

@media (max-width: 1200px) {
  .nav__info-item {
    margin-left: 30px;
  }
}

@media (max-width: 800px) {
  .nav__info-item {
    display: none;
  }
}

.nav__info-item:after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background: none repeat scroll 0 0 transparent;
  background-color: rgba(0, 0, 0, 0.87);
  opacity: 0.8;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  content: "";
}

.nav__info-item:hover {
  color: rgba(0, 0, 0, 0.87);
  opacity: 0.9;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
}

.nav__info-item:active {
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform: translateY(1px);
  -ms-transform: translateY(1px);
  transform: translateY(1px);
}

.nav__info-item:hover:after {
  left: 0;
  width: 100%;
}

/*----------  Main section ----------*/
.background-image {
  background-image: url("../img/outside/outside_28.jpg");
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

@media (max-width: 1000px) {
  .background-image {
    height: 120vh;
  }
}

@media (max-width: 900px) {
  .background-image {
    background-position: right 25% bottom 0%;
  }
}

@media (max-width: 600px) {
  .background-image {
    height: 140vh;
  }
}

@media (max-width: 540px) {
  .background-image {
    height: 150vh;
  }
}

.main-title {
  width: 50%;
  padding: 20px 8px;
  margin: 120px auto;
  background-color: rgba(255, 255, 255, 0.75);
  color: rgba(0, 0, 0, 0.87);
  opacity: 0.8;
  text-align: center;
  border-radius: 5px;
}

@media (max-width: 900px) {
  .main-title {
    width: 75%;
    margin-top: 150px;
    font-size: 30px;
  }
}

.main-title p {
  font-size: 35px;
  margin: 0;
  padding: 0;
}

.main-info__wrapper {
  display: flex;
  justify-content: space-around;
  max-width: 95%;
  position: absolute;
  bottom: 15px;
}

@media (max-width: 1600px) {
  .main-info__wrapper {
    bottom: 10px;
  }
}

@media (max-width: 1400px) {
  .main-info__wrapper {
    bottom: 10px;
  }
}

@media (max-width: 975px) {
  .main-info__wrapper {
    flex-direction: column;
    max-width: 100%;
  }
}

.main-info__block {
  width: 27%;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  text-align: center;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 1400px) {
  .main-info__block {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media (max-width: 975px) {
  .main-info__block {
    width: 80%;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@media (max-width: 700px) {
  .main-info__block {
    width: 95%;
    background-color: rgba(255, 255, 255, 0.85);
  }
}

@media (max-width: 415px) {
  .main-info__block:nth-child(2) {
    display: none;
  }
}

.main-info__text {
  font-size: 19px;
  margin-top: 12px;
  margin-bottom: 15px;
  width: 90%;
  margin: 12px auto 15px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 975px) {
  .main-info__text {
    padding: 0 15px;
  }
}

@media (max-width: 600px) {
  .main-info__text {
    padding: 0 13px;
    text-align: left;
  }
}

@media (max-width: 390px) {
  .main-info__text {
    font-size: 17.5px;
    text-align: center;
  }
}

.main-info__icons {
  font-size: 45px;
  color: rgba(0, 0, 0, 0.8);
  opacity: 0.7;
  display: inline-block;
  margin-top: 5px;
}

@media (max-width: 975px) {
  .main-info__icons {
    margin-left: 20px;
    margin-top: 20px;
  }
}

@media (max-width: 750px) {
  .main-info__icons {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 40px;
  }
}

@media (max-width: 570px) {
  .main-info__icons {
    margin-top: 45px;
  }
}

@media (max-width: 350px) {
  .main-info__icons {
    display: none;
  }
}

/*----------  About section ----------*/
.light {
  background: #f9fffb;
}

.blue {
  background: #e8f8ff;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 75px 130px 75px 130px;
}

@media (max-width: 1700px) {
  .about-wrapper {
    padding: 65px 50px 65px 50px;
  }
}

@media (max-width: 850px) {
  .about-wrapper {
    flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .about-wrapper {
    padding: 45px 25px 45px 25px;
  }
}

@media (max-width: 420px) {
  .about-wrapper {
    padding: 40px 15px 40px 15px;
  }
}

.about-img-container {
  width: 50%;
  height: 100%;
  display: flex;
}

.about-img-container:nth-child(2n) {
  margin-left: 35px;
}

.about-img-container:nth-child(1n) {
  margin-right: 35px;
}

@media (max-width: 1700px) {
  .about-img-container {
    height: 100%;
  }
}

@media (max-width: 850px) {
  .about-img-container:nth-child(2n) {
    margin-left: auto;
  }
  .about-img-container:nth-child(1n) {
    margin-right: auto;
    margin-left: auto;
  }
  .about-img-container {
    order: -1;
    width: 80%;
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .about-img-container {
    width: 90%;
    min-height: 0;
  }
}

@media (max-width: 425px) {
  .about-img-container {
    width: 100%;
  }
}

.about-img {
  width: 77%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  min-height: 350px;
}
@media (max-width: 1400px) {
  .about-img {
    width: 100%;
  }
}


.about-text {
  width: 50%;
}

@media (max-width: 850px) {
  .about-text {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 420px) {
  .about-text {
    width: 100%;
  }
}

.about-text p {
  padding: 8px 0;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.85);
}

.about-text p:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.about-text p:first-child {
  margin-top: 0;
  padding-top: 0;
}

@media (max-width: 1100px) {
  .about-text p {
    font-size: 16.5px;
    padding: 5.5px 0;
  }
}

@media (max-width: 850px) {
  .about-text p {
    font-size: 18px;
    padding: 5.5px 0;
    width: 100%;
  }
}


/*----------  Price  ----------*/
.price {
  padding-top: 65px;
  padding-bottom: 65px;
  text-align: center;
  font-size: 38px;
  color: #f9fffb;
  background: #26467f;
  /*#67B8DE*/
  /*#7EBCF2*/
  /*#1F598C*/
  /*#26467F*/
}

@media (max-width: 600px) {
  .price222 {
    font-size: 33px;
  }
}

/*----------  Galery section ----------*/

.gallery-container {
  background: #f9fffb;
}

.gallery-wrapper {
  width: 50%;
  margin: 0 auto;
  display: flex;
  padding-top: 50px;
  padding-bottom: 70px;
  text-align: center;
}

@media (max-width: 1200px) {
  .gallery-wrapper {
    width: 75%;
  }
}
@media (max-width: 550px) {
  .gallery-wrapper {
    width: 85%;
  }
}
@media (max-width: 400px) {
  .gallery-wrapper {
    width: 93%;
  }
}

.gallery-header {
  display: block;
  font-size: 31px;
  width: 100%;
  text-align: center;
  padding-top: 60px;
  font-size: 34px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .gallery-header {
    font-size: 29px;
  }
}
@media (max-width: 500px) {
  .gallery-header {
    font-size: 28px;
  }
}

/*----------  Contacts section ----------*/
.contacts-container {
  background: #e8f8ff;
}

.contacts-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

@media (max-width: 800px) {
  .contacts-wrapper {
    width: 90%;
  }
}
@media (max-width: 550px) {
  .contacts-wrapper {
    flex-wrap: wrap;
    padding-top: 10px;
  }
}

.contacts-header {
  display: block;
  font-size: 28px;
  width: 100%;
  text-align: center;
  padding-top: 40px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  text-transform: uppercase;
}

.contacts-subheader {
  display: block;
  font-size: 21px;
  width: 51%;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 500;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  .contacts-subheader {
    font-size: 19px;
  }
}
@media (max-width: 550px) {
  .contacts-subheader {
    margin-top: 20px;
    width: 100%;
  }
}

.contacts-subheader-info-tel {
  font-size: 19px;
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  padding-top: 10px;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 550px) {
  .contacts-subheader-info-tel {
    margin-bottom: 15px;
  }
}

.contacts-subheader-info {
  font-size: 17px;
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  padding-top: 10px;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
}

@media (max-width: 800px){
  .contacts-subheader-info {
    font-size: 16px;
  }
}

/*----------  PhotoSwipe   ----------*/
.my-gallery {
  width: 100%;
  position: relative;
}

.my-gallery img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.my-gallery figure {
  width: 0;
  margin: 0;
}

.my-gallery figure:first-child {
  display: block;
  width: 100%;
}

.my-gallery figcaption {
  display: none;
}

.hiddenstuff {
  position: absolute;
  visibility: hidden;
  max-width: 10px;
}
